<h1>This is our home page</h1>
<p>ホームページです</p>

<% if user_signed_in? %>
    <h3>Current goal:</h3>
    <% plancount = 0 %>
    <% current_user.plans.each do |plan| %>
    <% if !plan.is_over? %>
        <h4><%= current_plan_explanation(plan) %></h4>
        <p><%= plan_completed(plan) %></p>
        <p><%= plan_left(plan) %></p>
        <p><%= plan_suggestion(plan) %></p>
    <% end %>
    <% end %>
    
    <h3>Past goals:</h3>
    <% plancount = 0 %>
    <% current_user.plans.each do |plan| %>
    <% if plan.is_over? %>
    <% plancount = plancount + 1 %>
        <p><%= plan_explanation(plan, plancount) %></p>
    <% end %>
    <% end %>
<% end %>