<%= form_for(@plan) do |f| %>
  <% if @plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
      <% @plan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if false %>
    <div class="field">
      <%= f.label :user_id %><br>
      <%= f.number_field :user_id %>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :act %><br>
    <%= f.select :act, options_for_select(["Study", "Test", "Other"]) %>
  </div>
  <div class="field">
    <%= f.label :how_many %><br>
    <%= f.number_field :how_many %>
  </div>
  <div class="field">
    <%= f.label :deadline %><br>
    <%= f.date_select :deadline %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
